.topo {
  position: relative;
  padding: 10px;
}

.topo h1 {
  text-align: center;
}

.salas {
  text-align: center;
  font-size: 20px;
}

.atividades {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

#atividades-704,
#atividades-705 {
  background-color: #5d7c43;
  padding: 20px;
  width: 150px;
  text-align: center;
  cursor: pointer;
}

#login {
  position: absolute;
  left: 10px;
  top: 10px;
  height: 20px;
}

#agradecimentos {
  text-align: center;
  background-color: grey;
  color: white;
  max-width: 100%;
  padding: 10%;
}

body {
  background-color: #dde9d4;
}

a {
  text-decoration: none;
}

a:hover {
  color: #79c096;
}

li {
  list-style: square;
}

span {
  color: rgb(127, 202, 192);
}
