.topo {
  position: relative;
  padding: 10px;
}

.topo h1 {
  text-align: center;
}

.salas {
  text-align: center;
  font-size: 20px;
}

.atividades {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

#atividades-704,
#atividades-705 {
  background-color: #5d7c43;
  padding: 20px;
  width: 150px;
  text-align: center;
}

#login {
  position: absolute;
  left: 10px;
  top: 10px;
  height: 20px;
}

body {
  background-color: #dde9d4;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #79c096;
}
